Assignment Date         : 1 October 2022
Student Name            : Mahalakshmi L
Student Roll Number     : 113219031082
Maximum Marks           : 2 Marks

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

1. What is 7 to the power of 4?

In [ ]:
7**4

2401

2.Split this string:s = "Hi there Sam!"

In [ ]:
S="Hi there Sam!"

In [ ]:
S.split()

['Hi', 'there', 'Sam!']

3.Given the variables: planet = "Earth" diameter = 12742 Use .format() to print the following string:

In [ ]:
planet="Earth"
diameter=12742

In [ ]:
print('The diameter of {} is {} Kilometers')

The diameter of {} is {} Kilometers

4.Given this nested list, use indexing to grab the word "hello"

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2]
print(a)

['hello']

5.Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:

print(d['k1'][3]["tricky"][3]['target'][3])

hello

6.What is the main difference between a tuple and a list?

Tuples are immutable whereas Lists are Mutable

Tuple consumes less memory whereas Lists consume more memory

Tuple does not have many built-in methods whereas Lists have several built-in methods

7.Create a function that grabs the email website domain from a string in the form:


user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [2]:

  def domainGet(email):
    print("Your domain is: "+ email.split('@')[-1])
  email = input("Please enter your email: >")

Please enter your email: >logamaha@gmail.com

In [ ]:
domainGet(email)

Your domain is: gmail.com

8.Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [ ]:
def findDog(st):
  if 'dog' in st.lower():
    print("True")
  else:
    print("False")
st="Is there a dog here?"
findDog(st)

True

In [ ]:
findDog('Is there a dog here?')

True

9.Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [ ]:
value = 'This dog runs faster than the other dog dude!';

In [ ]:
def countdogs(value):
  count=0
  for word in value.lower().split():
    if word=='dog' or word =='dogs':
      count=count+1
      print(count)
countdogs(value)

1
2

10.You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases.

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

    pass

In [ ]:
caught_speeding(90,True)

'Big Ticket'

In [ ]:
caught_speeding(61,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
list1=[{'Empname': 'Krishna', 'Basic_salary': '60000'}, {'Empname': 'Abi', 'Basic_salary': '50000'},
{'Empname': 'Raju', 'Basic_salary': '40000'},{'Empname': 'Lakshmi', 'Basic_salary': '80000'}]
key, value='Empname', 'Basic_salary'
res=dict()
list2=[]
for i in list1:
   res[i[key]]=i[value]
print("Basic salary :"+str(res)) 
arr=[60000, 50000, 40000, 80000]
sum=0
val=0
for v in range(0, len(arr)):
  sum=arr[v]/6
  val+=arr[v]
print("Total salary:",val) 
print("Total Expenditure:", sum)

Basic salary :{'Krishna': '60000', 'Abi': '50000', 'Raju': '40000', 'Lakshmi': '80000'}
Total salary: 230000
Total Expenditure: 13333.333333333334

12.Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
Dict1={'Empid':'493', 'Empname': 'Amrisha', 'Basicpay': '50,000'} 
Dict2={'DeptName': 'testing', 'DeptId': '45'} 
Dict3={**Dict1,**Dict2} 
print (Dict3)

{'Empid': '493', 'Empname': 'Amrisha', 'Basicpay': '50,000', 'DeptName': 'testing', 'DeptId': '45'}